<main
  class="hero-section relative top-[20px] w-[calc(100%-40px)] px-10 py-20 mx-auto flex flex-col items-left justify-end min-h-[95vh] text-white rounded-lg"
>
 <p class="text-white/80 max-w-lg text-left px-[2px] tracking-tight">Web Design</p>
  <h1 class="text-4xl mb-4 tracking-tight">Baterias Star Redesign</h1>
  <div class="flex items-center justify-start w-[150px]">
      <button
        class="bg-[#303030] mix-blend-screen hover:bg-white hover:text-black transition duration-700 px-5 py-[5px] rounded-lg text-[14px] tracking-tight "
      >
        View more about
      </button>
    </div>
</main>

<style>
  .hero-section {
    background: url('/Hero.webp') no-repeat center center;
    background-size: cover;
  }
