<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-2.svg" />
    <title>Kaede Project - Vendemos Soluciones</title>

    <!-- SEO meta -->
    <meta name="description" content="Kaede Project - Vendemos Soluciones" />
    <meta
      name="keywords"
      content="Kaede, Kaede Project, Desarrollo Web, Desarrollo de Software, Soluciones Tecnológicas"
    />
    <meta name="author" content="Kaede Project" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandexbot" content="index, follow" />
  </head>

  <body class="bg-white w-full h-full m-0 font-[Inter]">
    <slot />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";

  html {
  scroll-behavior: smooth;
}
 
  /* ==== FUENTES ==== */
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
  }

  /* ==== TIPOGRAFÍA GLOBAL ==== */
  h3, h4, h5, h6, p, a, span, div, button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  h1,h2{
	font-weight: 600;
  }
</style>
